body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    background-color: #ff6600;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1em;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  .hero {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero1 {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #ffffff;
  }
  
  section {
    padding: 40px 20px;
    margin-top: 60px;
  }
  
  h1, h2, h3 {
    color: #ff6600;
  }
  
  .produk {
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .produk img {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  /* Style untuk contact us */

.contact-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.contact-info,
.contact-action {
  flex: 1;
  padding: 20px;
}

.contact-action {
  text-align: center;
}

.whatsapp-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #25d366;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.whatsapp-btn:hover {
  background-color: #128c7e;
}

.whatsapp-btn img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
